.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #D0F7EB;
  padding: 30px;
  grid-gap: 40px;
}
.grid-item {


  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #D0F7EB;

}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px 0;
  font-size: 30px;
}
h1 {color:#E5E3A5;}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    border-style: inset;
    border-width: 1px;
}
ol {color:white;}
i {color:white;}
ul {color:yellow}
div .grid-item {background-color: #D0F7EB;}
#aTale {position: relative;
        top: 60px;}
