
.bord {border: 1px solid blue;}
* {
    box-sizing: border-box;
}

#header{width:100%;}
#cars { width:50%;height: 30vh;float:left;}
#list { width: 50%;height: 20em;float:right;}

#box {position: relative;
      width: 30%;
      height: 50%;}

#box input{
  text-align: center;
}
span {text-align: center;}
.row{display: table;}
#table1 {margin: auto;background-color: green;width: 40%;
height: 30vh;}

#box {float: left;}
#box2 {position: relative;
      background-color: purple;
      width: 50%;float:left;
      top: 2rem;}
tbody tr:nth-child(odd) {
        background-color: #ff33cc;
      }

tbody tr:nth-child(even) {
        background-color: #e495e4;
      }
.grid-container {border: 1px solid rgba(0, 0, 0, 0.8);
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        width: 50%;
        margin: auto;

      }
